<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">

</head>
<body>
    <header> <p> 
        <a href="/">Home</a>
        <a href="/allCountries">All Countries</a>
        <a href="/Records">My Records</a>

    </p></header>
    <main>
      <div>
            <p>Country: <%= data.country  %> </p>
            <p>TotalConfirmed: <%= data.totalconfirmed  %> </p>
            <p>TotalDeaths: <%= data.totaldeaths  %> </p>
            <p>TotalRecovered: <%= data.totalrecovered  %> </p>
            <p>Date: <%= data.date  %> </p>

            <div>
                <form action="/delete/<%=data.id %>?_method=delete" method="POST">
                  <button>delete</button>
                </form>
            </div>
      </div>
    </main>
</body>
</html>
